.myCard {
  background-color: #2E3E50 !important;
  border: 2px solid #ffffff;
  border-radius: 15px !important;
}

.title {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnt_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}